<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-08-21T08:32:13Z</date>
	<key>WorkspacePath</key>
	<string>/Users/junbok/Desktop/GitHub/Programmers/CodingTest/Lv.1/크레인 인형뽑기 게임.playground</string>
</dict>
</plist>
